.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* 两个元素之间的间隔 */
  width: 1000px;
  margin: auto; /* 在页面中居中 */
  margin-bottom: 80px;
}

.center-container-aspect {
  display: flex; /* 使用 Flexbox 布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  flex-direction: column; /* 子元素垂直排列 */

  /* 边框和圆角样式 */
  border: 2px solid #000000; /* 黑色边框 */
  border-radius: 10px; /* 圆角 */

  /* 宽度和高度根据内容自适应 */
  width: 1000px;
  height: auto;

  /* 其他样式 */
  margin: auto; /* 在页面中居中 */
  margin-top: 20px;
}

.center-container {
  display: flex; /* 使用 Flexbox 布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  flex-direction: column; /* 子元素垂直排列 */

  /* 边框和圆角样式 */
  border: 2px solid #000000; /* 黑色边框 */
  border-radius: 10px; /* 圆角 */

  /* 保留大部分样式不变，只调整 width 和 margin */
  width: 480px;

  /* 其他样式 */
  margin-top: 20px;
}

.input-container {
  margin-bottom: 20px; /* 增加输入框底部的外边距 */
}

.button-container {
  margin-top: 20px; /* 增加按钮顶部的外边距 */
}

.session-key-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px; /* 可以调整输入框的宽度 */
}

.register-button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.title  {
  font-weight: bold;
  font-size: 20px;
}

.title-h1  {
  font-weight: bold;
  color: #4CAF50;
  font-size: 26px;
}
